<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800'
          rel='stylesheet' type='text/css'>
    <meta charset="utf-8"/>
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'/><![endif]-->
    <title>
        {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}"/>
    {% endif %}

    <link rel="canonical" href="{{ canonical_url }}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {% include 'open-graph-tags' %}
    {% include 'twitter-card' %}

    {{ content_for_header }}

    {{ 'style.scss.css' | asset_url | stylesheet_tag }}
    {{ 'custom.scss.css' | asset_url | stylesheet_tag }}
    {{ 'malik.css' | asset_url | stylesheet_tag }}
    {{ 'social/social-icons.css' | global_asset_url | stylesheet_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' | stylesheet_tag }}
    <link href="//fonts.googleapis.com/css?family=Open+Sans|Satisfy" rel="stylesheet">
    {{ '//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic' | stylesheet_tag }}
    {{ 'magnific-popup.css' | asset_url | stylesheet_tag }}
    <!--[if lt IE 9]>
  {{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
  <![endif]-->

    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {% if template contains 'customers' %}
        {{ 'customer_area.js' | shopify_asset_url | script_tag }}
    {% endif %}

    <!-- Additional Shopify helpers that will likely be added to the global shopify_common.js some day soon. -->
    {{ 'shopify_common.js' | asset_url | script_tag }}

    {{ 'option_selection.js' | shopify_asset_url | script_tag }}

    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
    {{ 'jquery.magnific-popup.js' | asset_url | script_tag }}
    {{ 'custom.js' | asset_url | script_tag }}
    <script>jQuery('html').removeClass('no-js').addClass('js');</script>

    <!-- Facebook Pixel Code -->
    <script>
      !function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod ?
              n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
      }(window,
          document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

      fbq('init', '610532252447165');
      fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=610532252447165&ev=PageView&noscript=1"
        /></noscript>
    <!-- End Facebook Pixel Code -->

    <meta name="google-site-verification" content="K8RfbYFF4msJEegjkyfk0B0XXtWCvlgKRkaLzooq4qw"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">
    <style>
        :root {
            --background-color: {{ settings.background_color }};
            --text-color: {{ settings.text_color }};
            --link-color: {{ settings.link_color }};
            --button-color-primary: {{ settings.button_color_primary }};
            --button-color-secondary: {{ settings.button_color_secondary }};
        }
    </style>

    <header class="site-header" role="banner">

        {% comment %}
        Note on checkout link: it is a good idea to avoid linking to /checkout directly because shops that use
        Paypal Express Checkout and/or Google Checkout have special checkout buttons on the /cart page. Also,
        special instructions for the seller are entered on the /cart page. Finally, the universal tracking code
        of Google Analytics may not work if linking directly to the /checkout page.
        {% endcomment %}

        <div class="mobile-header visible-xs visible-sm">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <button class="btn btn-link btn-mobile-nav toggle-mobile-nav"><i class="fa fa-bars"></i></button>
                    </div>
                    <div class="col-xs-9">
                        <div class="mobileCart-link text-right">
                            <a class="btn btn-link btn-mobileCart" href="/cart">
                                <i class="fa fa-shopping-cart"></i> {{ cart.item_count }} ({{ cart.total_price | money }})
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-top hidden">
            <div class="container">
                <div class="row row10">
                    <div class="col-sm-6 col-md-5 col-lg-4">
                        <p><i class=""></i></p>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <p class="text-center">Top Rated National® Online Furniture Store</p>
                    </div>
                    <div class="col-md-3 col-lg-4 hidden-xs hidden-sm">

                        {% if shop.customer_accounts_enabled %}
                            <div class="customer-links text-right">
                                {% if customer %}
                                    Logged in as <a
                                        href="/account">{{ customer.first_name }}</a> · {{ 'Log out' | customer_logout_link }}
                                {% else %}
                                    {{ 'Log in' | customer_login_link }}
                                    {% if shop.customer_accounts_optional %}
                                        or {{ 'Create an account' | customer_register_link }}
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endif %}

                        {% comment %}
                        <form action="/search" method="get" class="search-form" role="search">
                          <div class="input-group">
                            <input name="q" type="search" id="search-field" class="form-control" placeholder="Search store..." value="{{ search.terms | escape }}" />
                            <span class="input-group-btn">
                                <input type="submit" id="search-submit" class="btn btn-primary" value="Search" />
                            </span>
                          </div>
                        </form>
                        {% endcomment %}

                    </div>
                </div>
            </div>
        </div>

        <div class="header-main">
            <div class="container">
                <div class="row header-main--container">
                    <div class="col-md-4 text-center-sm">
                        {% if settings.use_logo %}
                            <a id="logo" href="/">
                                <img src="{{ settings.logo | img_url }}" alt>
                            </a>
                        {% else %}
                            <h1 class="site-title"><a href="/">{{ shop.name }}</a></h1>
                        {% endif %}
                    </div>

                    <div class="col-md-8 text-right hidden-xs hidden-sm navigation--container">
                        <div class="site-header-nav hidden-xs hidden-sm">
                            {% include 'site-nav' %}
                        </div><!--/.site-header-nav-->
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.header-main-->

    </header>

    <main class="site-main-content" role="main">
        {% include 'breadcrumbs' %}
        {% comment %}}
          We have a template file to render.
          That's what content_for_layout is for.
        {% endcomment %}
        {{ content_for_layout }}
    </main>

    <div class="newsletter-wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <h4 class="bottom">Sign up for our newsletter</h4>
                    <p>Get great deals sent directly to your inbox!</p>
                </div>
                <div class="col-sm-7 text-right">
                    <form action="{{ settings.mailing_list_form_action }}" method="post" class="form-inline space-bottom10"
                          id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                        <div class="form-group">
                            <label class="sr-only" for="mce-FNAME">First Name</label>
                            <input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="First Name">
                        </div>
                        <!--<div class="form-group">
                          <label class="sr-only" for="mce-LNAME">Last Name</label>
                          <input type="text" value="" name="LNAME" class="" id="mce-LNAME" placeholder="Last Name">
                        </div>-->
                        <div class="form-group">
                            <label class="sr-only" for="mce-EMAIL">Email address</label>
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
                                   placeholder="Enter Email">
                        </div>
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                               class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="site-footer" role="contentinfo">
        <div class="container">
            <div class="row bottom30">
                <div class="col-sm-3">
                    <h4>Links</h4>
                    <p><a href="/blogs/the-virtue-blog/">Blog</a></p>
                    <p><a href="/pages/shipping-returns/">Shipping &amp; Returns</a></p>
                    <p><a href="/pages/terms-conditions/">Terms &amp; Conditions</a></p>
                    {% if linklists.footer.links.size > 0 %}
                        <ul role="navigation">
                            {% for link in linklists.footer.links %}
                                <li><a href="{{ link.url }}"
                                       title="{{ link.title }}"{% if link.active %} class="active"{% endif %}>{{ link.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <hr class="visible-xs">
                </div>
                <div class="col-sm-3">
                    <h4>Categories</h4>
                    <ul role="navigation">
                        {% for collection in collections %}
                            {% unless collection.handle == 'frontpage' %}
                                <li>{{ collection.title | link_to: collection.url }}</li>
                            {% endunless %}
                        {% endfor %}
                    </ul>
                    <hr class="visible-xs">
                </div>
                <div class="col-sm-3">
                    <h4>My Account</h4>
                    <ul role="navigation">
                        <li><a href="/account">View Account</a></li>
                        <li><a href="/cart">My Cart</a></li>
                        <li><a href="/pages/privacy-policy/">Privacy Policy</a></li>
                    </ul>
                    <hr class="visible-xs">
                </div>
                <div class="col-sm-3 text-center">
                    <p>
                        {% if settings.use_logo %}
                            <img src="{{ settings.logo | img_url }}" alt>
                        {% else %}
                            <img src="{{ 'footer-logo.jpg' | asset_url }}" alt="">
                        {% endif %}
                    </p>
                    <p>
                        <!--<img src="https://s3.amazonaws.com/marketing360verticals/ecommerce/img/safe-secure.png" alt="">-->
                        Our company is dedicated to providing the very best quality products and service. Our number one
                        goal is happy customers! We strive to be the best in the industry and innovate our products</p>
                </div>
            </div>
        </div><!--/.container-->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <p><small>Copyright &copy; {{ "now" | date: "%Y" }} {{ shop.name }}. Powered by <a
                                        href="http://www.ecommercemarketing360.com/" target="blank">eCommerce Marketing 360&reg;</a></small>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div class="social-links">
                            {% include 'social-links' %}
                        </div>
                        {% unless shop.enabled_payment_types == empty %}
                            <div class="payment-types">
                                <p class="text-right-md">
                                    {% for type in shop.enabled_payment_types %}
                                        <img width="40" src="{{ type | payment_type_img_url }}"/>
                                    {% endfor %}
                                </p>
                            </div>
                        {% endunless %}
                    </div><!--/.col-->
                </div><!--/.row-->
            </div><!--/.container-->
        </div><!--/.footer-bottom-->
    </footer>

    {% include 'mobile-site-nav' %}

    {% comment %}Shopify does not support Internet Explorer 6 nor 7. It does encourage themes to support IE8 until the end of 2014.{% endcomment %}
    <!--[if lt IE 8]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
        improve your experience.</p>
    <![endif]-->

    {{ 'jquery.swipebox.min.js' | asset_url | script_tag }}
    {{ 'jquery.flexslider-min.js' | asset_url | script_tag }}
    {{ 'shop.js' | asset_url | script_tag }}

    <!-- Google Code for Remarketing Tag -->
    <!--------------------------------------------------
    Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
    --------------------------------------------------->
    <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 922439971;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt=""
                 src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/922439971/?value=0&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>

    <!-- google dynamic remarketing tag for theme.liquid -->
    {% if template contains 'product' %}
        <script type="text/javascript">
          var json_product = {{ product | json }};
        </script>
        <script>
          var ecomm_prodid = [];
          for (var i = 0; i < json_product.variants.length; i++)
            ecomm_prodid.push('shopify_US_{{ product.id }}_' + json_product.variants[i].id);
        </script>
        <script type="text/javascript">
          var google_tag_params = {
            ecomm_prodid: ecomm_prodid,
            ecomm_pagetype: 'product',
            ecomm_totalvalue: {{ product.price | money_without_currency | remove: "," }}
          };
        </script>
    {% elsif template contains 'collection' %}
        <script type="text/javascript">
          var google_tag_params = {
            ecomm_prodid: '',
            ecomm_pagetype: 'category',
            ecomm_totalvalue: 0
          };
        </script>
    {% elsif template contains 'cart' %}
        <script type="text/javascript">
          var google_tag_params = {
            ecomm_prodid: [{% for item in cart.items %}'shopify_US_{{ item.product.id }}_{{ item.variant.id }}',{% endfor %}],
            ecomm_pagetype: 'cart',
            ecomm_totalvalue: {{ cart.total_price | money_without_currency | remove: "," }}
          };
        </script>
    {% elsif template contains 'search' %}
        <script type="text/javascript">
          var google_tag_params = {
            ecomm_prodid: '',
            ecomm_pagetype: 'searchresults',
            ecomm_totalvalue: 0
          };
        </script>
    {% elsif template contains 'index' %}
        <script type="text/javascript">
          var google_tag_params = {
            ecomm_prodid: '',
            ecomm_pagetype: 'home',
            ecomm_totalvalue: 0
          };
        </script>
    {% else %}
        <script type="text/javascript">
          var google_tag_params = {
            ecomm_prodid: '',
            ecomm_pagetype: 'other',
            ecomm_totalvalue: 0
          };
        </script>
    {% endif %}

</body>
</html>
