
<div class="container legacy--sections  collection--list">
    {% include 'collection-listing' %}

    {% comment %}
    <!-- Alternatively, if not using a snippet, use the code below.
    To use the code below, get rid of the above 'include', and get rid of the comment tags, and you're in business. -->
    {% paginate collections by 6 %}
      <h1>Collections</h1>
      <ul class="grid clearfix">
      {% for collection in collections %}
        {% include 'collection-grid-item' with 'three-per-row' %}
      {% endfor %}
      </ul>
      {% if paginate.pages > 1 %}
      <div id="pagination">
        {{ paginate | default_pagination }}
      </div>
      {% endif %}
    {% endpaginate %}
    {% endcomment %}
</div>

<div class="section-padding text-center grey-bg">
    <div class="container grey-bg">
        <div class="row">
            <div class="col-sm-6">
                <div class="align-wrap">
                    <div class="align-middle">
                        <p class="cta-heading">Character Coaching Tools for Kids age 3-9.</p>
                        <p class="cta-subheading">Find the virtue product that is perfect for the kids you teach!</p>
                        <p><a class="btn btn-hollow" href="/collections/all-products-for-kids">Get It Now</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="align-wrap">
                    <div class="align-middle">
                        <p><img src="{{ 'cta-virtuekids.png' | asset_url }}" alt=""></p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.container-->

</div>

<div class="section-padding text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="align-wrap">
                    <div class="align-middle">
                        <p><img src="{{ 'cta-virtueyouth.png' | asset_url }}" alt=""></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="align-wrap">
                    <div class="align-middle">
                        <p class="cta-heading">Character Coaching Tools for Youth age 10-16</p>
                        <p class="cta-subheading">The Virtues your kids grew up on, grew up! A new look, new teaching
                            methods, and (some) new catchphrases!</p>
                        <p><a class="btn btn-hollow" href="/collections/all-products-for-youth">Shop Now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.container-->
</div>

<div class="section-padding text-center grey-bg visually-hidden">
    <div class="container grey-bg">
        <div class="row">
            <div class="col-sm-6">
                <div class="align-wrap">
                    <div class="align-middle">
                        <p class="cta-heading">Virtue for Homeschool</p>
                        <p class="cta-subheading">Want a happier homeschool? Let us will help you reach that goal and so
                            many more!</p>
                        <p><a class="btn btn-hollow" href="/collections/homeschool/">Shop Latest Products</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="align-wrap">
                    <div class="align-middle">
                        <p><img src="{{ 'cta-2.png' | asset_url }}" alt=""></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="section-padding text-center visually-hidden">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="align-wrap">
                    <div class="align-middle">
                        <p><img src="{{ 'cta-3.png' | asset_url }}" alt=""></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="align-wrap">
                    <div class="align-middle">
                        <p class="cta-heading">Virtue for School</p>
                        <p class="cta-subheading">Students love We Choose Virtues and they love how it makes them feel
                            about themselves, building confidence.</p>
                        <p><a class="btn btn-hollow" href=" /collections/schools/">Shop Latest Products</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="section-padding text-center grey-bg visually-hidden">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="align-wrap">
                    <div class="align-middle">
                        <p class="cta-heading">Virtue for Church</p>
                        <p class="cta-subheading">We Choose Virtues is completely different than any other faith based
                            character-training system on the market today</p>
                        <p><a class="btn btn-hollow" href="/collections/childrens-church/">Shop Latest Products</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="align-wrap">
                    <div class="align-middle">
                        <p><img src="{{ 'cta-4.png' | asset_url }}" alt=""></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="section-padding text-center cta-boxes grey-bg visually-hidden">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <p><a href="/collections/schools/"><img src="{{ 'cta-1-small_rv.jpg' | asset_url }}" alt=""></a></p>
                <p class="cta-heading bottom">Schools</p>
                <p class="cta-subheading">Character curriculum for public school classrooms. Anti-bullying starts
                    here.</p>
                <p><a href="/collections/schools" class="btn colored purple">Shop Now</a></p>
            </div>
            <div class="col-sm-3">
                <p><a href="/collections/tools-for-families"><img src="{{ 'cta-2-small_rv.jpg' | asset_url }}"
                                                                  alt=""></a></p>
                <p class="cta-heading bottom">Families</p>
                <p class="cta-subheading">Simple and fun parenting solutions for families of any size.</p>
                <p><a href="/collections/tools-for-families" class="btn colored pink">Shop Now</a></p>
            </div>
            <div class="col-sm-3">
                <p><a href="/collections/homeschool"><img src="{{ 'cta-3-small_rv.jpg' | asset_url }}" alt=""></a></p>
                <p class="cta-heading bottom">Homeschool</p>
                <p class="cta-subheading">Our Homeschool products will improve school and home life dramatically!</p>
                <p><a href="/collections/homeschool" class="btn colored orange">Shop Now</a></p>
            </div>
            <div class="col-sm-3">
                <p><a href="/collections/childrens-church"><img src="{{ 'cta-4-small_rv.jpg' | asset_url }}" alt=""></a>
                </p>
                <p class="cta-heading bottom">Church</p>
                <p class="cta-subheading">The perfect addition to your Sunday-School curriculum.</p>
                <p><a href="/collections/childrens-church" class="btn colored green">Shop Now</a></p>
            </div>
            <div class="col-sm-3">
                <p><a href="/collections/spanish"><img src="{{ 'cta-5-small.jpg' | asset_url }}" alt=""></a></p>
                <p class="cta-heading bottom">Español</p>
                <p class="cta-subheading">Tres de nuestros productos más eficaces se encuentran ahora en español.</p>
                <p><a href="/collections/spanish" class="btn colored teal">Shop Now</a></p>
            </div>
        </div>
    </div>
</div>

<div class="section-padding text--center about-text grey-bg">
    <div class="container">
        <div class="image--container">
            <img src="{{ section.settings.image_with_text_image | img_url: 'master' }}" alt="">
        </div>

        <div class="rte">
            {{ section.settings.paragraph }}
        </div>

        {% if section.settings.about_cta_text and section.settings.about_cta_url %}
            <a href="{{ section.settings.about_cta_url }}" class="btn btn-hollow">{{ section.settings.about_cta_text }}</a>
        {% endif %}
    </div>
</div>

{% if section.blocks %}
    <div class="section-padding text--center reviews-slider" id="section-{{ section.id }}">
        <div class="container">
            <h2>Testimonials</h2>

            <div class="swiper swiper-container">
                <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                        <div class="swiper-slide">
                            <div class="review">
                                {{ block.settings.review }}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>

            {% if section.settings.reviews_cta_text and section.settings.reviews_cta_url %}
                <div class="link--container">
                    <a href="{{ section.settings.reviews_cta_url }}" class="btn btn-hollow">{{ section.settings.reviews_cta_text }}</a>
                </div>
            {% endif %}
        </div>
    </div>

    <script>
      (() => {
        let swiper = new Swiper('#section-{{ section.id }} .swiper', {
          loop: true,
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          autoplay: {
            delay: 5000,
          }
        });
      })();
    </script>
{% endif %}

{% schema %}
{
  "name": "Legacy Sections",
  "class": "section-container__legacy",
  "settings": [
    {
      "type": "header",
      "content": "About Section"
    },
    {
      "type": "richtext",
      "id": "paragraph",
      "label": "About Section Paragraph"
    },
    {
      "type": "image_picker",
      "id": "image_with_text_image",
      "label": "About Section Image"
    },
    {
      "type": "text",
      "id": "about_cta_text",
      "label": "About CTA Text"
    },
    {
      "type": "url",
      "id": "about_cta_url",
      "label": "About CTA URL"
    },
    {
        "type": "header",
        "content": "Reviews Section"
    },
    {
      "type": "text",
      "id": "reviews_cta_text",
      "label": "Reviews CTA Text"
    },
    {
      "type": "url",
      "id": "reviews_cta_url",
      "label": "Reviews CTA URL"
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "richtext",
          "id": "review",
          "label": "Review"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Legacy Sections",
      "name": "Legacy Sections"
    }
  ]
}
{% endschema %}
