<div class="home-banner text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="align-wrap">
                    <div class="align-middle">
                        <p class="cta-subheading bottom">PARENTING &amp; TEACHING</p>
                        <p class="cta-heading">just got a lot simpler</p>
                        <div class="box">
                            <strong>ONE</strong> life transformed<br/>
                            <strong>TEN</strong> minutes a day<br/>
                            <strong>TWELVE</strong> virtues
                        </div>
                        <p>Thousands of Parents &amp; Teachers<br/>
                            25 Years of Teaching Experience<br/>
                            30 Nations and counting</p>
                        <p><a class="btn btn-primary" href="/collections/">Get Started Today</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-7">
                <div class="align-wrap">
                    <div class="align-middle">

                        <p><img src="{{ 'hero-photos-img.png' | asset_url }}" alt=""></p>
                        <a class="popup-video text-center" href="https://vimeo.com/184131099"><i
                                    class="fa fa-play-circle"></i><span class="visible-xs">Watch Our Video</span></a>

                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="align-wrap">
                    <div class="align-middle">
                        <p class="cta-heading">Give your kids wings. Give them Virtues!</p>
                        <p class='cta-head'>We Choose Virtues teaches a lifestyle of character using a simple language.
                            Thousands of teachers, parents and grandparents are inspiring children with Virtues and
                            watching them find success. You can too!<br/>
                            <strong>We Choose Virtues… Simply Inspiring Character that Lasts.</strong>
                        <p><a class="btn btn-primary" href="/collections/">Shop Latest Products</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="align-wrap">
                    <div class="align-middle">
                        <p><img src="{{ '' | asset_url }}" alt=""></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-padding text-center grey-bg">
    <div class="container grey-bg">
        <div class="row">
            <div class="col-sm-6">
                <div class="align-wrap">
                    <div class="align-middle">
                        <p class="cta-heading">Character Coaching Tools for Kids age 3-9.</p>
                        <p class="cta-subheading">Find the virtue product that is perfect for the kids you teach!</p>
                        <p><a class="btn btn-hollow" href="/collections/all-products-for-kids">Get It Now</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="align-wrap">
                    <div class="align-middle">
                        <p><img src="{{ 'cta-virtuekids.png' | asset_url }}" alt=""></p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.container-->

</div>

<div class="section-padding text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="align-wrap">
                    <div class="align-middle">
                        <p><img src="{{ 'cta-virtueyouth.png' | asset_url }}" alt=""></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="align-wrap">
                    <div class="align-middle">
                        <p class="cta-heading">Character Coaching Tools for Youth age 10-16</p>
                        <p class="cta-subheading">The Virtues your kids grew up on, grew up! A new look, new teaching
                            methods, and (some) new catchphrases!</p>
                        <p><a class="btn btn-hollow" href="/collections/all-products-for-youth">Shop Now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.container-->
</div>

<div class="section-padding text-center grey-bg">
    <div class="container grey-bg">
        <div class="row">
            <div class="col-sm-6">
                <div class="align-wrap">
                    <div class="align-middle">
                        <p class="cta-heading">Virtue for Homeschool</p>
                        <p class="cta-subheading">Want a happier homeschool? Let us will help you reach that goal and so
                            many more!</p>
                        <p><a class="btn btn-hollow" href="/collections/homeschool/">Shop Latest Products</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="align-wrap">
                    <div class="align-middle">
                        <p><img src="{{ 'cta-2.png' | asset_url }}" alt=""></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="section-padding text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="align-wrap">
                    <div class="align-middle">
                        <p><img src="{{ 'cta-3.png' | asset_url }}" alt=""></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="align-wrap">
                    <div class="align-middle">
                        <p class="cta-heading">Virtue for School</p>
                        <p class="cta-subheading">Students love We Choose Virtues and they love how it makes them feel
                            about themselves, building confidence.</p>
                        <p><a class="btn btn-hollow" href=" /collections/schools/">Shop Latest Products</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="section-padding text-center grey-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="align-wrap">
                    <div class="align-middle">
                        <p class="cta-heading">Virtue for Church</p>
                        <p class="cta-subheading">We Choose Virtues is completely different than any other faith based
                            character-training system on the market today</p>
                        <p><a class="btn btn-hollow" href="/collections/childrens-church/">Shop Latest Products</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="align-wrap">
                    <div class="align-middle">
                        <p><img src="{{ 'cta-4.png' | asset_url }}" alt=""></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="section-padding text-center cta-boxes grey-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <p><a href="/collections/schools/"><img src="{{ 'cta-1-small_rv.jpg' | asset_url }}" alt=""></a></p>
                <p class="cta-heading bottom">Schools</p>
                <p class="cta-subheading">Character curriculum for public school classrooms. Anti-bullying starts
                    here.</p>
                <p><a href="/collections/schools" class="btn colored purple">Shop Now</a></p>
            </div>
            <div class="col-sm-3">
                <p><a href="/collections/tools-for-families"><img src="{{ 'cta-2-small_rv.jpg' | asset_url }}"
                                                                  alt=""></a></p>
                <p class="cta-heading bottom">Families</p>
                <p class="cta-subheading">Simple and fun parenting solutions for families of any size.</p>
                <p><a href="/collections/tools-for-families" class="btn colored pink">Shop Now</a></p>
            </div>
            <div class="col-sm-3">
                <p><a href="/collections/homeschool"><img src="{{ 'cta-3-small_rv.jpg' | asset_url }}" alt=""></a></p>
                <p class="cta-heading bottom">Homeschool</p>
                <p class="cta-subheading">Our Homeschool products will improve school and home life dramatically!</p>
                <p><a href="/collections/homeschool" class="btn colored orange">Shop Now</a></p>
            </div>
            <div class="col-sm-3">
                <p><a href="/collections/childrens-church"><img src="{{ 'cta-4-small_rv.jpg' | asset_url }}" alt=""></a>
                </p>
                <p class="cta-heading bottom">Church</p>
                <p class="cta-subheading">The perfect addition to your Sunday-School curriculum.</p>
                <p><a href="/collections/childrens-church" class="btn colored green">Shop Now</a></p>
            </div>
            <div class="col-sm-3">
                <p><a href="/collections/spanish"><img src="{{ 'cta-5-small.jpg' | asset_url }}" alt=""></a></p>
                <p class="cta-heading bottom">Español</p>
                <p class="cta-subheading">Tres de nuestros productos más eficaces se encuentran ahora en español.</p>
                <p><a href="/collections/spanish" class="btn colored teal">Shop Now</a></p>
            </div>
        </div>
    </div>
</div>

{% if settings.slide_1 != false or settings.slide_2 != false or settings.slide_3 != false or settings.slide_4 != false %}
    <!-- Begin slider -->
    <div class="flexslider">
        <ul class="slides">
            {% for i in (1..4) %}
                {% capture show_slide %}slide_{{ i }}{% endcapture %}
                {% capture image %}slideshow_{{ i }}.jpg{% endcapture %}
                {% capture link %}slide_{{ i }}_link{% endcapture %}
                {% capture alt %}slide_{{ i }}_alt{% endcapture %}
                {% if settings[show_slide] %}
                    <li>
                        <a href="{{ settings[link] }}">
                            <img src="{{ image | asset_url }}" alt="{{ settings[alt] | escape }}"/>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="flex-controls"></div>
    </div>
    <!-- End slider -->
{% endif %}

<div class="container">

    {% unless settings.homepage_collection == blank or collections[settings.homepage_collection].empty? %}
        <h2>Featured Products</h2>

        {% assign collection = collections[settings.homepage_collection] %}
        <ul class="grid clearfix">
            {% for product in collection.products %}
                {% include 'product-grid-item' with 'three-per-row' %}
            {% else %}
                <li>
                    <p>
                        You have no products in your {{ collections[settings.homepage_collection].title }} collection.
                        <a href="http://www.shopify.com/admin/collections">Add some.</a>
                    <p>
                </li>
            {% endfor %}
        </ul>
    {% endunless %}

    {% unless settings.homepage_page == blank or pages[settings.homepage_page].empty? %}
        {% assign page = pages[settings.homepage_page] %}
        <hr>
        <div class="rte grid-margins">
            {{ page.content }}
        </div>
    {% endunless %}

</div>

<div class="bottom-img hidden-sm hidden-xs grey-bg">
    <img src="{{ 'lookbook-img_new.png' | asset_url }}">
</div>

<div class="cta-row text-center">
    <div class="container">

        <div class="row">
            <a class="popup-video text-center" href="https://www.youtube.com/watch?v=q0Ypv1hOAiQ">
                <div class="col-sm-12">
                    <div class="align-wrap">
                        <div class="align-middle">


                            <p class="cta-heading">We use <em class="text-color">100%</em> recycled wood <a
                                        class="btn btn-hollow" href="#">Learn More</a></p>
                        </div>
                    </div>
                </div>
            </a>
            <div class="col-sm-4">
                <div class="align-wrap">
                    <div class="align-middle">
                        <p class="bottom"><img src="{{ 'cta-row-2.png' | asset_url }}" alt=""></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Legacy Sections",
  "class": "section-container__legacy",
  "presets": [
    {
      "category": "Legacy Sections",
      "name": "Legacy Sections"
    }
  ]
}
{% endschema %}
