{% assign slides = section.blocks %}
{% assign section_id = section.id %}
{% assign section_name = section.settings.name %}

<div class="swiper-container" id="{{ section_id }}">
    <div class="swiper-wrapper">
        {% for slide in slides %}
            {% if slide.settings.button_label == blank and slide.settings.link != blank  %}
                <a href="{{ slide.settings.link }}" class="swiper-slide vertically--{{ slide.settings.vertical_alignment }} horizontally--{{ slide.settings.horizontal_alignment }} text--{{ slide.settings.text_alignment }}" id="{{ section_id }}-{{ forloop.index0 }}">

            {% else %}
                <a class="swiper-slide vertically--{{ slide.settings.vertical_alignment }} horizontally--{{ slide.settings.horizontal_alignment }} text--{{ slide.settings.text_alignment }}" id="{{ section_id }}-{{ forloop.index0 }}">

            {% endif %}

              <style>
                #{{ section_id }} #{{ section_id }}-{{ forloop.index0 }} {
                  --color-overlay: {{ slide.settings.color_overlay }};
                  --overlay-opacity: {{ slide.settings.overlay_opacity | times: 0.01 }};
                  --color-text: {{ slide.settings.color_text }};
                  --color-text-button: {{ slide.settings.color_text_button }};
                  --color-button: {{ slide.settings.color_button }};
                  --color-button-hover: {{ slide.settings.color_button_hover }};
                }
              </style>

              <div class="overlay"></div>

              <div class="image--container">
                <img src="{{ slide.settings.image | img_url: 'master' }}" alt="{{ slide.settings.heading }}" {% if slide.settings.mobile_image %}class="desktop"{% endif %}>

                {% if slide.settings.mobile_image %}
                  <img src="{{ slide.settings.mobile_image | img_url: 'master' }}" alt="{{ slide.settings.heading }}" class="mobile">
                {% endif %}
              </div>

              <div class="content--container__wrapper">
                <div class="content--container">
                  {% if slide.settings.heading != blank %}
                    <h2>{{ slide.settings.heading }}</h2>
                  {% endif %}

                  {% if slide.settings.paragraph != blank %}
                      <div class="text">{{ slide.settings.paragraph }}</div>
                  {% endif %}

                  {% if slide.settings.button_label != blank %}
                    <span href="{{ slide.settings.link }}" class="button btn">{{ slide.settings.button_label }}</span>
                  {% endif %}
                </div>

              </div>

            {% if slide.settings.button_label == blank and slide.settings.link != blank  %}
                </a>

            {% else %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <div class="swiper-pagination"></div>
</div>

<script>
  (() => {
    let swiper = new Swiper('#{{ section_id }}', {
      loop: true,
      slidesPerView: 1,
      autoHeight: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      autoplay: {
        delay: 10000,
        pauseOnMouseEnter: true
      }
    });
  })();
</script>

{% schema %}
{
  "name": "Slideshow",
        "class": "section-container__slideshow",
        "max_blocks": 3,
        "settings": [
],
        "blocks": [
  {
    "type": "image",
    "name": "Image",
    "settings": [
      {
        "id": "image",
        "type": "image_picker",
        "label": "Image"
      },
      {
        "id": "mobile_image",
        "type": "image_picker",
        "label": "Mobile image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "paragraph",
        "label": "Paragraph"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link",
        "info": "Link to the page"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label",
        "default": "Show more"
      },
      {
        "type": "select",
        "id": "vertical_alignment",
        "label": "Vertical alignment",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Middle"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ],
        "default": "center"
      },
      {
        "type": "select",
        "id": "horizontal_alignment",
        "label": "Horizontal alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "color_overlay",
        "label": "Overlay color",
        "default": "rgba(0,0,0,0)"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Overlay opacity",
        "default": 25
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "color_text_button",
        "label": "Button text color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "color_button",
        "label": "Button color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "color_button_hover",
        "label": "Button hover color",
        "default": "#ffffff"
      }
    ]
  }
],
        "presets": [
  {
    "name": "Slideshow",
    "blocks": [
      { "type": "image" },
      { "type": "image" },
      { "type": "image" }
    ]
  }
]
}
{% endschema %}
